.pokedex-wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 1rem auto;
   
}
#pokedex-heading{
    margin: 0  auto;
    margin-bottom: 1rem;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}